.menu{
    background-color: rgb(108, 167, 125);
    height: 70px;
    padding: 0%;
    margin: 0%;
}
.logo{
    padding-left: 20px;
    height: 50px;
    width: 80px;
}
body{
    background-color: rgb(44, 123, 114);
}
.destacado{
    padding-left: 20px; 
    height: 500px;
    padding-top: 200px;
}
.muestra{
    padding-left: 50px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.c-item{
 width: 100%;
 padding: 0%;
}
.modal-backdrop {
    z-index: 2;}
.m-menu{
padding: 0%;
width: 100%;
}
.caja{
    background-color: bisque;
    padding: 6px;
}
#dedos_divinos{
    width: 100%;
     height:350px;
}
.caja-menu{
    height: 270px;
}
.caja-menu-2{
    height: 220px;
}
.caja-menu-2_ad{
    height: 390px;
}
.caja_menu_cabeza{
    background-color: rgb(81, 191, 92);
}
.caja_menu_cuerpo{
    background-color: rgb(35, 172, 184);
}
.b-caja{
    padding: 2%;
}
#n_usuario{
    padding-left: 30%;
}
.c-item{
    width: 100%;
}
#titulo-obra-semana{
    padding-top: 30px;
    text-align: left;
    color: rgb(0, 0, 0);
    margin-left: 350px;
}
.row{
    padding-top: 20px;
}
.carousel{
    width:1000px;
    height: 500px;
    padding-left: 50px;
    padding-top: 10px;
}
.obras-paginado{
    width: 150px;
    margin-top: 10px;
    margin-top: 10px;
}
#boton-filtro{
    margin-top: 5px;
}
.card{
    height: 280px;
}
.f-img{
position: static;
background-position: center;
}
.contenedor-footer{
    background-color: rgb(29, 31, 31);
}
.contactos{
    padding: 20px;
}
.lista-solicitudes::-webkit-scrollbar{
    height: 10px;
}
.titulo-foto-principal{
   text-align: center;
   margin: 0%;
   padding: 0%;
}
.titulo-foto-principal-fila{
    margin-top: 0%;
    height: 40px;
    text-align: center;
}
textarea{
    resize: none;
}
.lista-activas{
    max-height: 535px;
    overflow-y: scroll;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-style: groove;
}
.lista-activas-cu{
    max-height: 450px;
    overflow-y: scroll;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-style: groove;
}
.lista-bloqueadas{
    max-height: 535px;
    overflow-y: scroll;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-style: groove;
}
.lista-bloqueadas-cu{
    max-height: 450px;
    overflow-y: scroll;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-style: groove;
}
.lista-borradas{
    max-height: 535px;
    overflow-y: scroll;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-style: groove;
}
.lista-borradas-cu{
    max-height: 450px;
    overflow-y: scroll;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-style: groove;
}
.lista-solicitudes-cooperativo{
    max-height: 300px;
    overflow-y: scroll;
}
.fila-tecnico{
    background-color: black;
}
.fotos-tecnicas{
    margin: 15px;
}
.obras{
    overflow-y: scroll;
    scroll-behavior: auto;
    height: 570px;
    padding-left: 20px;

}
::-webkit-scrollbar {
    display: none;
}
.barra-busqueda{
    width: 400px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
}
.barra-bus-pag{
    height: 90px;
}
.paginacion{
    padding-left: 42px;
    margin-top: 30px;
}
.paginacion-obra{
    margin-top: 30px;
    padding-left: 180px;
}
.obras-general{
    padding-bottom: 100px;
}
.carta-inicio{ 
    width: 50px;
}
.contenedor-muestra-obras{
    overflow: scroll;
    height: 600px;
}
.google-maps{
    width: 100%;
    height: 550px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-style: groove;
}
#fot-da-us{
    height: 400px;
    width: 400px;
}
@media(max-width:600px) {
    .container-fluid {
        flex-direction: column;
        
    }
    .carusel-img{
        width: 400px;
        height: 250px;
        padding: 0;
        margin: 0;
    }
    .carousel{
        width: 100%;
        height: 250px;
    }
    .c-item{
        width: 300px;
        height: 250px;
    }
    .destacado{
        height: 50px;
        padding-top: 10px;
        padding-bottom: 60px;
    }
    .contenedor-muestra-obras{
        height: 300px;
        padding-left: 10px;
        margin-left: 45px;
        padding-top: 0%;
        width: 300px;

    }
    .card{
        margin-bottom: 20px;
        text-align: center;
        border-color: rgb(0, 0, 0);
        border-width: 2px;
        border-style: groove;
    }
    .filtros{
      width: 250px;
      text-align: center;  
      margin-left: 120px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .obras-paginado{
        margin-left: 0px;
        width: 230px;
    }
    .paginado{
        margin-top: 5px;
        padding-left: 30px;
    }
    .google-maps{
        width: 440px;
        height: 350px;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 20px;
        border-color: rgb(0, 0, 0);
        border-width: 2px;
        border-style: groove;
    }
    .contactos{
        text-align: center;
    }
    #adm-sol{
        font-size: 20px;
    }
    .lista-activas{
        max-height: 122px;
        overflow-y: scroll;
        margin-bottom: 30px;
        border-color: rgb(0, 0, 0);
        border-width: 2px;
        border-style: groove;
    }
    .lista-bloqueadas{
        max-height: 122px;
        overflow-y: scroll;
        margin-bottom: 30px;
        border-color: rgb(0, 0, 0);
        border-width: 2px;
        border-style: groove;
        
    }
    .lista-borradas{
        max-height: 122px;
        overflow-y: scroll;
        margin-bottom: 30px;
        border-color: rgb(0, 0, 0);
        border-width: 2px;
        border-style: groove;
    }
    .cuentas-solicitud{
        padding-bottom: 10px;
        
    }
    #tiltulo-obras{
        font-size: 20px;
    }
    .barra-busqueda{
        width: 300px;
        height: 80px;
        margin-left: 100px;
        margin-bottom: 10px;
    }
    .paginacion{
        margin-bottom: 30px;
    }
    .obras{
        height: 400px;
        margin-top: 10px;
        width: 100%;
        padding-left: 100px;
        background-color: rgb(182, 51, 51);
    }
    .barra-bus-pag{
        background-color: rgb(182, 51, 51);
        height: 90px;
    }
    .paginacion-obra{
        background-color: rgb(182, 51, 51);
        padding-left: 100px;
    }
    #titulo-adm-cu{
        font-size: 20px;
    }
    .lista-activas-cu{
        max-height: 122px;
        overflow-y: scroll;
        margin-bottom: 30px;
        border-color: rgb(0, 0, 0);
        border-width: 2px;
        border-style: groove;
    }
    .lista-bloqueadas-cu{
        max-height: 122px;
        overflow-y: scroll;
        margin-bottom: 30px;
        border-color: rgb(0, 0, 0);
        border-width: 2px;
        border-style: groove;
        
    }
    .lista-borradas-cu{
        max-height: 122px;
        overflow-y: scroll;
        margin-bottom: 30px;
        border-color: rgb(0, 0, 0);
        border-width: 2px;
        border-style: groove;
    }
    #dedos_divinos{
        width: 100%;
        height: 180px;
    }
    .carusel-img-info{
        height: 200px;
        width: 350px;
    }
    .dato-us{
        padding-bottom: 5px;
    }
    .dato-us-btn-a{
        margin-left: 120px;
    }
    #fot-da-us{
        margin-left: 130px;
        height: 200px;
        width: 200px;
    }
    .lista-solicitudes-cooperativo{
        width: 460px;
        margin-left: 30px;
        height: 140px;
    }
    .lista-solicitudes-caja{
        margin-bottom: 20px;
    }
    .btn-subir-obra{
        margin-left: 160px;
    }
}